<h1>Listing posts</h1>
<br><br>
<%= form_tag( posts_path, method: :get) do -%>
  <div>
    <%=label_tag 'Search'%><br>
    <%=text_area_tag 'search'%>
  </div>
  <div>
    <%= submit_tag 'Save' %>
  </div>
<%end%>
<table>
  <thead>
    <tr>
      <th>Text</th>
      <th colspan="3"></th>
    </tr>
  </thead>  

  <tbody>
    <% @posts.each do |post| %>
          
      <tr>
        <td><%= post.text %></td>

        <td><%= link_to_if(post.status =='Enabel', "Show", post) %></td>
        <td><%= link_to_if(post.status== 'Enabel', 'Edit', edit_post_path(post)) %></td>
        <%if post.status == 'Enabel'%>
          <%post.status = 'Disabel'%>
        <%else%> 
          <%post.status = 'Enabel'%>  
        <%end%> 
        <td><%= link_to post.status, status_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>  
      <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
