<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
</p> 

<div>
  <%= @post.text %>
</div>

<p>
  <strong>Comments:</strong>
</p>  

<table>
 	<% @post.comments.each do |comment| %>
		<tr>
 			<td><%=comment.comment%></td>
 		</tr>
 	<%end%>
</table>

<%= form_for [@post, @comment] do |f| %>
	<div class="field">
	    <%= f.label :Comment %>
	    <%= f.text_area :comment %><br>
	</div>
	<br>
	<div class="actions">
    <%= f.submit %>
  </div>
<%end%>	
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
